$incompatibilities {
    transition: none;
    transition: none;
    transition: none;
    appearance: textfield;
    appearance: textfield;
    appearance: textfield;
}

div {
    @extend $incompatibilities;
}

p {
    outline: none;
    outline: none;
    outline: none;
}
